body {
  background-image: url("image.jpg");
}

.parent-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.input-container {
  margin-bottom: 20px;
}

.input {
  padding: 10px;
  font-size: 16px;
}
.weather-container {
  text-align: center;
  margin-bottom: 20px;
}
.weather-container > div > p {
  font-weight: bold;
  font-size: 20px;
}
.weather-data {
  border: 1px solid #ddd;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  color: #fff;
}

.date-time {
  font-size: 18px;
  margin-bottom: 10px;
}

.city {
  font-size: 24px;
  font-weight: bold;
}

.temp {
  font-size: 18px;
  font-weight: bold;
}

.weather {
  font-size: 16px;
}

.forecast-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.forecast-container > div {
  text-align: center;
  border: 1px solid #ddd;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 10px;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
  color: #fff;
}

.forecast-container > div:hover {
  transform: scale(1.05);
}

@media (max-width: 600px) {
  .forecast-container {
    flex-direction: column;
  }
}
